<ion-card class="card">
    <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Monday</ion-card-title>
    </ion-card-header>
</ion-card>
<ion-card class="card">
    <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Tuesday</ion-card-title>
    </ion-card-header>
</ion-card>
<ion-card class="card">
    <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Wednesday</ion-card-title>
    </ion-card-header>
</ion-card>
<ion-card class="card">
    <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Thursday</ion-card-title>
    </ion-card-header>
</ion-card>
<ion-card class="card">
    <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Friday</ion-card-title>
    </ion-card-header>
</ion-card>
<ion-card class="card">
    <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Saturday</ion-card-title>
    </ion-card-header>
</ion-card>
<ion-card class="card">
    <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Sunday</ion-card-title>
    </ion-card-header>
</ion-card>