.day{
    font-size: 40px;
    font-weight: 600;
    margin-left: 10%;
    margin-bottom: 0px;
  }
  
  .date{
    font-size: 20px;
    font-weight: 300;
    margin-left: 10.5%;
    margin-top: 0px;
  }
  .hr {
    border-bottom: 1px solid #ccc;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80%;
  }
  .theme{
    position: absolute;
    font-size: 30px;
    margin-left: 83%;
    margin-top: 12%;
  }
  .card{
    margin-bottom: 0px;
  }