.app{
    width: 95%;
    margin: auto;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.app-body{
    height: 95vh;
    overflow: scroll;
    background-color: antiquewhite;
} 

.app-nav{
    position: absolute;
    bottom: 0;
}
