.app{
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.app-body{
    margin: auto;
    height: 95vh;
    overflow: scroll;
} 

.app-nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
}
